/* Header */
.navbar{
    min-height: 85px;
    padding-right: 90px;
}
.navbar .navbar-brand .logo{
    max-width: 140px;
}
.navbar .navbar-nav .nav-link{
    font-size: 14px;
    font-weight: 600;
    color: #364959;
}
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: #6db2d7;
}

.call-btn{
    top: 0;
    right: 0;
    width: 80px;
    height: 85px;
}
@media (max-width: 991px){
  .navbar{
      padding-right: 90px;
      border-bottom: 1px solid #e5e9ef;
  }
  .navbar-collapse{
      position: absolute;
      top: 85px;
      left: 0px;
      width: 100%;
      background-color: white;
  }
  .navbar .social-nav{
      border-top: 1px solid #e5e9ef;
  }
  .navbar .social-nav li + li{
      margin-left: 15px;
  }
}