@import 'header.css';
@import 'footer.css';
@import 'province-colors.css';


/* Generals */
html, body{
    min-width: 320px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.font-alt,
.btn{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/* Custom Colors */
.btn-primary-cc{
    background-color: #fef035;
    color: #364959 !important;
}
.text-primary-cc{
    color: #6db2d7 !important;
}
.text-secondary-cc{
    color: #364959 !important;
}

/* Text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* Wrapper */
.wrapper{
    min-height: 100vh;
    background-color: #364959;
    overflow-x: hidden;
}
/* Sidebar */
.sidebar{
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    z-index: 999;
    background: #333333;
    color: #fff;
    transition: all 0.3s;
}
.sidebar.sidebar-collapsed{
    margin-left: -240px;
}
.sidebar-header{
    background-color: #3c3c3c;
}
#sidebarCollapse{
    width: 40px;
    line-height: 1px;
}
.sidebar .components a[data-toggle="collapse"]{
    text-decoration: none;
}
.sidebar .components a[data-toggle="collapse"],
.sidebar .components .collapsible{
    border-bottom: 1px solid #3c3c3c;
}
.sidebar .components a[aria-expanded="true"] i{
    transform: rotate(180deg);
}
.sidebar.sidebar-collapsed .components,
.sidebar.sidebar-collapsed .advanced-search{
    display: none;
}
/* Advanced Search */
@media (min-width: 992px){
    .advanced-search{
        position: absolute;
        top: 0;
        right: 0;
        /* width: 90px; */
        width: 250px;
        height: 100%;
        transform: translateX(100%);
    }
}
.province-list .card + .card{
    border-top: 1px solid #f2f2f2 !important;
}
.province-list .card .card-header{
    width: 28px;
}
.province-list .card .card-title{
    color: #364959;
}

/* Content */
.content{
    width: 100%;
    margin-left: 280px; /* Sidebar width */
    margin-right: 700px; /* Details Box width */
    transition: all 0.3s;
}
.content.sidebar-collapsed{
    margin-left: 40px;
}
.content.details-box-collapsed{
    margin-right: 0;
}

/* Details Box */
.details-box{
    top: 0;
    right: 0;
    width: 700px;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
}
.details-box.details-box-collapsed{
    margin-right: -700px;
}
.details-box .card-header{
    background-color: #1072b8;
}
.details-box .card-header #detailsBoxCollapse{
    font-size: 18px;
}
.details-box .card-body{
    background-color: #f2f2f2;
}
.details-box .statistic-item{
    line-height: 1;
}
.details-box .statistic-item .statistic-icon{
    width: 16px;
}

/* Custom Scrollbar Override */
.mCSB_scrollTools{
    z-index: 999;
}

