.province-iln .card-header,
.province-mpb .card-header,
.province-nuv .card-header,
.province-bul .card-header,
.province-btg .card-header{ 
    background-color: #f59131;
}

.province-kal .card-header,
.province-ifu .card-header,
.province-aur .card-header,
.province-btn .card-header,
.province-que .card-header{
    background-color: #ee5b2f;
}

.province-cag .card-header,
.province-isa .card-header,
.province-ncr .card-header,
.province-lag .card-header,
.province-cmn .card-header{
    background-color: #f8ae47;
}

.province-ils .card-header,
.province-lau .card-header,
.province-zbs .card-header,
.province-riz .card-header{
    background-color: #f27a56;
}

.province-abr .card-header,
.province-ben .card-header,
.province-pam .card-header,
.province-cav .card-header{
    background-color: #f8bc7d;
}

